.my-bg-blue{
    background-color: #2C3E50;
}



#avatar,
#about{
  background-color: #1ABC9C; 
   }

 img#avatar{
    height:250px; 
    width: 250px;
  
}

.line-star{
   content: "";
   width: 50px;
   height: 2px;
   border-radius: 2px;
   margin: auto 1rem;
}


.my-bg-aquamarine{
background-color: #1ABC9C;
}
.my-text-align{
    text-align: left;
}




div.row#gallery > div{
   display: flex;
   justify-content: center;
   padding: .5rem;
}



#user-form form div button{
   background-color: #1ABC9C;
   color: white;
   text-transform: capitalize;
}

#social{
   background-color: #3A546D;
}

ul#icons-social  li a {
   font-size: 1.5rem;
color: white;

text-decoration: none;

}


ul#icons-social  li a i {
  margin: .5rem;
   padding: 1.5rem;
   height: 1.5rem;
  width: .5rem;
   border: 1px solid white;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   }

   #start-bootstrap{
      color: #1ABC9C;
   }