.my-bg-blue{
    background-color: #2C3E50;
}

/* Porietà da togliere  */


header .row >div > .row div{
    border :1px solid white;
}
main .row >div{
       border :1px solid black;
   }

   main .row >div >img{
    height: 150px; 
    width: 150px;
   border :5px solid red;
}
   
   section div.section1  >div{
  
  
   border :1px solid black;
}

section div.section2  >div{
  
  
   border :1px solid black;
}
section div.section3  >div{
   
  
   border :1px solid black;
}

section div.section4  >div{
  
  
   border :1px solid black;
   background-color:#3A546D ;
}
section div.section5  >div{

   border :1px solid black;

}


/* /Fijustify-content-centerne /Porietà da togliere  */


.my-bg-aquamarine{
background-color: #1ABC9C;
}
.my-text-align{
    text-align: left;
}


.my-bord{
   border :1px solid white;
}

div.row#gallery > div{
   display: flex;
   justify-content: center;
   padding: .3rem;
}