.my-bg-blue{
    background-color: #2C3E50;
}

/* Porietà da togliere  */
header .row >div{
    height: 50px;
    padding: .3rem;
    border :1px solid black;
}

main .row >div{
        height: 50px; 
       padding: .3rem;
       border :1px solid black;
   }
   
   section div.section1  >div{
    height: 50px; 
   padding: .3rem;
   border :1px solid black;
}

section div.section2  >div{
    height: 50px; 
   padding: .3rem;
   border :1px solid black;
}
section div.section3  >div{
    height: 50px; 
   padding: .3rem;
   border :1px solid black;
}

section div.section4  >div{
    height: 50px; 
   padding: .3rem;
   border :1px solid black;
   background-color:#3A546D ;
}
section div.section5  >div{
    height: 50px; 
   padding: .3rem;
   border :1px solid black;

}
/* /FIne /Porietà da togliere  */


.my-bg-aquamarine{
background-color: #1ABC9C;
}

